*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}

.contenedor{
 background-color: rgb(126, 210, 243);
 height: 100vh;
 display: flex;
 flex-direction:column;
 padding: 20px;
 justify-content: center;
 align-items: center;
 background-image: url(https://p4.wallpaperbetter.com/wallpaper/345/128/999/cartoons-pc-download-hd-wallpaper-preview.jpg);
 object-fit: cover;
}
  
.cuadro { 
 width: 600px;
 height: 600px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 gap: 7px;  
 background-color: rgba(250, 128, 114, 0.192);
 
}
.cuadro div {
    background-color:rgba(245, 245, 245, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    
}
.cuadro :hover{
    background-color: rgba(218, 218, 218, 1);
    cursor: pointer;
}

button{
  padding: 20px 10 px;
  background-color: salmon;
  color: azure;
  outline: none;
  border: 0px;
  border-radius: 8px;
  width: 200px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

button:hover{
   cursor: pointer;
  background-color: rgb(155, 37, 135);
  
 



}



#Jugador1 {
  position:sticky ;
  right: 950px;
  bottom:300px;
  border-radius: 8px;
  border: none;
  background-color:rgb(238, 117, 131);
  box-shadow: rgba(218, 218, 218, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:20px;
  color: #faecec;
  padding: 20px 10px;
  margin:8px 70px;
}
 
jugador1:hover{
  background-color:rgba(238, 54, 133, 0.61);
  cursor: pointer;
}


#Jugador2 {
  position:sticky;
  left: 950px;
  border-radius: 8px;
  border: none;
  background-color:rgb(238, 117, 131);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:20px;
  color: #faecec;
  padding: 20px 10px;
  margin:8px 70px;
}

jugador2:hover{
  background-color:rgba(238, 54, 133, 0.61);
  cursor: pointer;
}

